<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>
    <title>Log in</title>
</head>
<body>
<div>
    <div th:replace="fragments/header :: header"></div>
    <div class="parent">
        <h2>Пожалуйста авторизуйтесь</h2>
        <form th:action="@{/login}" method="post">
            <p th:if="${param.error}">Неизвестный логин и пароль</p>
            <p th:if="${param.logout}">До встречи!</p>

            <p><input type="text" name="login" placeholder="Login"/></p>
            <p><input type="password" name="pass" placeholder="Password"/></p>
            <p><input type="submit" value="Log in"/></p>
        </form>
    </div>
</div>
</body>
</html>