<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <title>Stocks in library</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="parent">
    <h1 th:text="#{orders.order}"></h1>

    <table cellpadding="5" border="1">
        <thead>
        <tr>
            <th th:text="#{orders.name}">Stock name</th>
            <th th:text="#{orders.prise}">Prise of purchase</th>
            <th th:text="#{orders.purchase}">Number of purchase</th>
            <th th:text="#{orders.currentValue}">Current value</th>
        </tr>
        </thead>
        <tr th:each="order : ${orders}">
            <td th:text="${order.stock.name}"></td>
            <td th:text="${order.purchasePrise}"></td>
            <td th:text="${order.purchaseNumber}"></td>
            <td th:text="${order.stock.currentValue}"></td>
            <td sec:authorize="isAuthenticated()">
                <div>
                    <form th:action="@{/orders}" method="post">
                        <input name="id" type="hidden" th:value="${order.orderId}"/>
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" name="submit" value="Удалить">Удалить</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>

    <div sec:authorize="isAuthenticated()">
        <form th:method="POST" action="/orders">
            <div>
                <label>Акция</label>
                <select name="stock_id">
                    <option th:each="stock : ${stocks}"
                            th:value="${stock.id}"
                            th:text="${stock.name}"></option>
                </select>
            </div>
            <div>
                <label>Стоимость при покупке</label>
                <div>
                    <input type="text" name="purchase_price"/>
                </div>
            </div>
            <div>
                <label>Количество</label>
                <div>
                    <input type="number" name="purchase_number"/>
                </div>
            </div>
            <div th:hidden="true">
                <label>Shareholder</label>
                <div>
                    <input type="number" name="shareholder_id" th:value="${shareholder.getId()}"/>
                </div>
            </div>
            <div>
                <div>
                    <input type="submit" value="Добавить"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
