<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <title>Shareholders in library</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="js/shareholders.js"></script>

</head>
<body ng-app="shareholders" ng-controller="ShareholdersController">

<div th:replace="fragments/header :: header"></div>

<div class="parent">
    <h1 th:text="#{shareholders.shareholders}">Здесь будет слово "Shareholders" на языке локали</h1>

    <div ng-controller="getShareholders" ng-show="shareholdersList.length > 0">
        <table id="shareholdersTable" cellpadding="5" border="1">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Фамилия</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="shareholder in shareholdersList" id="{{shareholder.id}}">
                <td>{{shareholder.firstName}}</td>
                <td>{{shareholder.secondName}}</td>
                <td>{{shareholder.lastName}}</td>
                <td sec:authorize="isAuthenticated()">
                    <div><input type="button" value="Акции" ng-click="redirectToShareholder(shareholder.id)"/></div>
                </td>
                <td sec:authorize="isAuthenticated()">
                    <div><input type="button" value="Удалить" ng-click="deleteShareholder(shareholder.id)"/></div>
                </td>
                <td sec:authorize="isAuthenticated()">
                    <div><input type="button" value="Редактировать"
                                ng-click="addToEdit(shareholder.id, shareholder.firstName, shareholder.secondName, shareholder.lastName)"/>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <label ng-bind="error"></label>
    </div>

    <div sec:authorize="isAuthenticated()">
        <br/>
        <h3 th:text="#{shareholders.add}"></h3>
        <form role="form" ng-submit="addShareholder()">
            <div>
                <label>Имя</label>
                <div>
                    <input type="text" name="firstName" ng-model="firstName"/>
                </div>
            </div>
            <div>
                <label>Отчество</label>
                <div>
                    <input type="text" name="secondName" ng-model="secondName"/>
                </div>
            </div>
            <div>
                <label>Фамилия</label>
                <div>
                    <input type="text" name="lastName" ng-model="lastName"/>
                </div>
            </div>
            <div>
                <div>
                    <input type="submit" value="Добавить"/>
                </div>
            </div>
        </form>
    </div>

    <div sec:authorize="isAuthenticated()">
        <br/>
        <h3 th:text="#{shareholders.edit}"></h3>
        <form role="form" ng-submit="editShareholder()">
            <div>
                <label>Id</label>
                <div>
                    <input disabled="true" type="text" name="editId" ng-model="editId"/>
                </div>
            </div>
            <div>
                <label>Имя</label>
                <div>
                    <input type="text" name="editFirstName" ng-model="editFirstName"/>
                </div>
            </div>
            <div>
                <label>Отчество</label>
                <div>
                    <input type="text" name="editSecondName" ng-model="editSecondName"/>
                </div>
            </div>
            <div>
                <label>Фамилия</label>
                <div>
                    <input type="text" name="editLastName" ng-model="editLastName"/>
                </div>
            </div>
            <div>
                <div>
                    <input type="submit" value="Изменить"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
