<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <title>Stocks in library</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="js/stocks.js"></script>
</head>
<body ng-app="stocks" ng-controller="StocksController">
<div th:replace="fragments/header :: header"></div>
<div class="parent">
    <h1 th:text="#{stocks.stocks}">Здесь будет слово "Активы" на языке локали</h1>

    <div ng-controller="getStocks" ng-show="stocksList.length > 0">
        <table id="authorsTable" cellpadding="5" border="1">
            <thead>
            <tr>
                <th>Название</th>
                <th>Текущая стоимость</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stock in stocksList" id="{{stock.id}}">
                <td>{{stock.name}}</td>
                <td>{{stock.currentValue}}</td>
                <td sec:authorize="isAuthenticated()">
                    <div><input type="button" value="Удалить" ng-click="deleteStock(stock.id)"/></div>
                </td>
                <td sec:authorize="isAuthenticated()">
                    <div><input type="button" value="Редактировать"
                                ng-click="addToEdit(stock.id, stock.name, stock.currentValue)"/></div>
                </td>
            </tr>
            </tbody>
        </table>
        <label ng-bind="error"></label>
    </div>

    <div sec:authorize="isAuthenticated()">
        <br/>
        <h3 th:text="#{stock.add}"></h3>
        <form role="form" ng-submit="addStock()">
            <div>
                <label th:text="#{stock.name}">Name</label>
                <div>
                    <input type="text" name="stockName" ng-model="stockName"/>
                </div>
            </div>
            <div>
                <label th:text="#{stock.currentValue}">Current value</label>
                <div>
                    <input type="text" name="currentValue" ng-model="currentValue"/>
                </div>
            </div>
            <div>
                <div>
                    <input type="submit" value="Добавить"/>
                </div>
            </div>
        </form>
    </div>

    <div sec:authorize="isAuthenticated()">
        <br/>
        <h3 th:text="#{stock.edit}"></h3>
        <form role="form" ng-submit="editStock()">
            <div>
                <label th:text="#{stock.id}">Id</label>
                <div>
                    <input disabled="true" type="text" name="editId" ng-model="editId"/>
                </div>
            </div>
            <div>
                <label th:text="#{stock.name}">Name</label>
                <div>
                    <input type="text" name="editName" ng-model="editName"/>
                </div>
            </div>
            <div>
                <label th:text="#{stock.currentValue}">CurrentValue</label>
                <div>
                    <input type="text" name="editCurrentValue" ng-model="editCurrentValue"/>
                </div>
            </div>
            <div>
                <div>
                    <input type="submit" value="Изменить"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
